* {
    margin: 0;
    padding: 0;
}

:root {
    /* font-family: 'Futura LT W01 Medium', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgb(45, 49, 66);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;

    overflow-x: hidden;

    background-color: rgb(204, 215, 237);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 3rem 10%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;
}

h2 {
    font-size: 2.8rem;
    line-height: 1.1;
}

h3 {
    font-size: 2.4rem;
    line-height: 1.1;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.1;
}

button {
    font-size: 1.25rem;
    border-radius: 20px;

    cursor: pointer;
}

input {
    border-radius: 20px;

    border: 2px rgb(255, 255, 255) solid;

    padding: 1rem;
    background-color: aliceblue;
}
