.intro-section {
    position: relative;
    height: 25rem;
    width: 100%;
    display: flex;
}

.background {
    position:absolute;
    display: flex;
    height: 25rem;
    width: 100%;

    box-shadow:  0 0 20px 1px rgba(0, 0, 0, 0.5);
}

.background-image{
    flex-grow: 1;
    background-size: cover;
    background-position: center;
}

.img1 {
    background-image: url('../../assets/duck-recipe.jpg');
}

.img2 {
    background-image: url('../../assets/fish-recipe.jpg');
}

.img3 {
    background-image: url('../../assets/fish-salad.jpg');
}

.intro-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container h1 {
    position: relative;
    top: 2rem;

    color: rgb(247, 247, 247);
    padding: .75rem;

    border-radius: 10px;
    background-color: rgba(178, 178, 178, 0.385);
    backdrop-filter: blur(2px);
}



